$color:#278B81;
.containerregister{
  background: -webkit-linear-gradient($color,#009860);
  background: -o-linear-gradient($color,#009860);
  background: -moz-linear-gradient($color,#009860);
  background: linear-gradient($color,#009860);
  min-height: 100vh;
  img{
    margin: 26vh auto 24vh auto;
    width: 100%;
  }
  .am-navbar{
    background-color: transparent;
    .am-navbar-left{
      color:#7ABEBF;
    }
    .am-navbar-right{
      color:#EAFEFF;
    }
  }
  .ptitle{
    text-align: left;
    font-size: 25px;
    text-indent: 20px;
    color:white;
    margin-bottom: 40px;
  }
  .pfooter{
    position: absolute !important;
    color: white;
    width: 20vh;
    bottom: 10vh;
    left: 5vh;
  }
    .am-list-item{
      background: transparent;
      padding-right: 15px;
      .am-list-line{
        border-bottom: 1PX solid #ddd;
        .am-list-content{
          color: #EAFEFF;
        }
        input{
          color: white;
        }
      }
      .am-radio.am-radio-checked .am-radio-inner:after{
        border-color: #ddd;
      }
    }


  .registerBtn{
    background: transparent;
    position: absolute !important;
    border: .5px solid white !important;
    color: white;
    width: 20vh;
    bottom: 20px;
    right: 20px;
  }
}